.container {
    padding: 70px 10px 120px;
    margin: 0 auto;
    position: relative;
    max-width: 1240px;
    background: #fff;
    display: grid;
    grid-template-columns: minmax(370px, 836px) 363px;
    justify-content: space-between;
    column-gap: 30px;
}

@media (max-width: 992px) {
    .container {
        padding: 40px 20px 80px;
        grid-template-columns: 1fr;
        column-gap: unset;
    }
}