.experience {
    &__toggle-block {
        margin-top: 24px;
    }

    &__item {
        padding: 0 0 0 30px;
        background: url('../../../resources/icon/students.svg') 0 50% no-repeat;
    }
}